In [7]:
import numpy as np

In [8]:
import pandas as pd

In [9]:
import matplotlib.pyplot as plt

In [97]:
# Exercises Part I
fruits = pd.Series(["kiwi", "mango", "strawberry", 
"pineapple", "gala apple", "honeycrisp apple", "tomato", 
"watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", 
"blueberry", "blackberry", "gooseberry", "papaya"])

In [98]:
type(fruits)

pandas.core.series.Series

In [12]:
# Use Series attributes and methods to explore your fruits 
# Series.

# 1.  Determine the number of elements in fruits.

In [52]:
fruits.size

17

In [99]:
# or we could also do fruits.shape

In [15]:
# 2.  Output only the index from fruits.

In [53]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [ ]:
# or list(fruits.index)

In [17]:
# 3.  Output only the values from fruits.

In [54]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [19]:
# 4.  Confirm the data type of the values in fruits.

In [55]:
fruits.dtype

dtype('O')

In [21]:
# 5.  Output only the first five values from fruits. Output the last three values. 
#  Output two random values from fruits.

In [56]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [57]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [58]:
fruits.sample(2)

2          strawberry
5    honeycrisp apple
dtype: object

In [33]:
# 6. Run the .describe() on fruits to see what information it 
# returns when called on a Series with string values.

In [59]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [36]:
# 7.  Run the code necessary to produce only the unique string 
# values from fruits.

In [67]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [ ]:
# or fruits.nunique() - returns just the number of unique

In [38]:
# 8.  Determine how many times each unique string value occurs in 
# fruits.

In [79]:
fruits.value_counts()

kiwi                4
mango               2
watermelon          1
tomato              1
pineapple           1
honeydew            1
blackberry          1
gala apple          1
blueberry           1
papaya              1
strawberry          1
gooseberry          1
honeycrisp apple    1
dtype: int64

In [41]:
# 9.  Determine the string value that occurs most frequently in
#fruits.

In [92]:
fruits.mode()

0    kiwi
dtype: object

In [ ]:
# or fruits.mode() , fruits.value_counts().head(1)
# fruits.value_counts().idxmax - returns the index value with the max value
# fruits.value_counts().nlargest(n=1, keep='all')

In [45]:
# 10.  Determine the string value that occurs least frequently in 
#fruits.

In [101]:
fruits.value_counts().nsmallest(n=1, keep='all')

watermelon          1
tomato              1
pineapple           1
honeydew            1
blackberry          1
gala apple          1
blueberry           1
papaya              1
strawberry          1
gooseberry          1
honeycrisp apple    1
dtype: int64